<?php
namespace App\Themes\Pvtl\Blocks;

use App\Themes\Pvtl\Library\RegisterBlocks;

class Boilerplate extends RegisterBlocks
{
    protected $title = 'An Example Block';
    protected $icon = 'megaphone'; // https://developer.wordpress.org/resource/dashicons/

    /**
     * Renders the block on the front-end
     *
     * @param array $block The block settings and attributes.
     * @param bool $is_preview True during AJAX preview.
     */
    public function render($block = [], $content = '', $is_preview = false)
    {
        $title = get_field('title');
        $background_colour = get_field('background_colour') ?? 'white';

    ?>
        <div style="background-color:<?=$background_colour?>">
            <?=($title) ? "<h2>$title</h2>" : '' ?>
        </div>
    <?php
    }
}
