.hero-slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  .swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    align-items: flex-end;
    color: #FFF;
    background-size: cover;
    background-position: center;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.25);
    }
  }
  .authorship {
    position: relative;
    z-index: 50;
    width: 440px;
    padding: 30px;
    font-size: 12px;
    font-weight: 400;
    .author {
      line-height: 1;
      font-size: 14px;
      margin-bottom: 0;
      img {
        margin-right: 5px;
        vertical-align: bottom;
      }
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 50px;
      text-align: center;
      width: 100%;
      .description {
        display: none;
      }
    }
  }

  .search-overlay {
    position: relative;
    height: 720px;
    z-index: 80;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
    h1 {
      text-align: center;
      text-shadow: 0 5px 30px #000;
    }
    .search-container {
      max-width: 600px;
      margin: 30px auto;
      > div {
        margin-bottom: 30px;
      }
      .image {
        margin-right: 20px;
        text-shadow: 0 3px 20px #000;
        svg {
          max-width: 100%;
        }
      }
      .h5 {
        font-size: 18px;
        margin: 0;
        text-shadow: 0 3px 20px #000;
        .amount {
          font-size: 24px;
          display: block;
        }
      }
      .form-inline {
        border: 10px solid rgba(0,0,0,0.4);
        font-size: 16px;
        flex-wrap: nowrap;
        .form-group {
          margin: 0;
        }
        input {
          border: none;
          height: 60px;
          padding-left: 30px;
          padding-right: 30px;
        }
        button {
          height: 60px;
          color: #FFF;
          font-weight: normal;
          font-size: 1rem;
          padding-left: 22px;
          padding-right: 22px;
          svg {
            margin-right: 5px;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      height: auto;
      padding: 80px 0;
      .search-container {
        margin: 20px auto;
        > div {
          margin-bottom: 20px;
        }
        .image {
          margin-right: 10px;
          width: 50px;
        }
        .h5 {
          font-size: 12px;
          .amount {
            font-size: 18px;
          }
        }
      }
    }
    @include media-breakpoint-down(xs) {
      h1 {
        font-size: 30px;
      }
      .search-container {
        margin: 20px -5px;
        > div {
          padding-left: 5px;
          padding-right: 5px;
        }
        .image {
          margin-right: 5px;
          width: 40px;
        }
        .form-inline {
          input, button {
            height: 45px;
            padding-left: 15px;
            padding-right: 15px;
          }
          button svg {
            margin-right: 2px;
            width: 18px;
          }
        }
      }
    }
  }
}
