
<!DOCTYPE html>

<!--[if !IE]> -->
<html lang="en" class="not_ie" ng-app="portal"  >
<!-- <![endif]-->
<!--[if IE]>
<html lang="en" class="ie" ng-app="portal">
<![endif]-->

<head ng-controller="headCtrl as head">
    
<title >TANBIF | Tanzania Biodiversity Information Facility</title>


    
    <link rel="alternate" hreflang="en" href="https://www.gbif.org/" />
    

    
    <link rel="alternate" hreflang="zh" href="https://www.gbif.org/zh/" />
    

    
    <link rel="alternate" hreflang="zh-tw" href="https://www.gbif.org/zh-tw/" />
    

    
    <link rel="alternate" hreflang="fr" href="https://www.gbif.org/fr/" />
    

    
    <link rel="alternate" hreflang="ja" href="https://www.gbif.org/ja/" />
    

    
    <link rel="alternate" hreflang="pt" href="https://www.gbif.org/pt/" />
    

    
    <link rel="alternate" hreflang="ru" href="https://www.gbif.org/ru/" />
    

    
    <link rel="alternate" hreflang="es" href="https://www.gbif.org/es/" />
    

<link rel="alternate" hreflang="x-default" href="https://www.gbif.org/" />


<meta property="fb:app_id" content="1534726343485342" />

    <meta property="og:title" content="TANBIF" />



    <meta property="og:url" content="https://www.gbif.org/" />



    <meta property="og:description" content="Global Biodiversity Information Facility. Free and Open Access to Biodiversity Data." />





<meta charset="UTF-8">

<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Set the page to the width of the device and set the zoom level -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="https://tanbif.ditnet.ac.tz/resources/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://tanbif.ditnet.ac.tz/resources/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="https://tanbif.ditnet.ac.tz/resources/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="https://tanbif.ditnet.ac.tz/resources/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="manifest.json">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#4c9e45">
<link rel="shortcut icon" href="https://tanbif.ditnet.ac.tz/resources/favicon.ico">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-TileImage" content="mstile-144x144.png">
<meta name="theme-color" content="#4c9e45">

<link rel="stylesheet" href="https://tanbif.ditnet.ac.tz/css/app.css">
<link rel="stylesheet" type="text/css" href="https://tanbif.ditnet.ac.tz/css/vendor/vendor.css?v=1585166682129">

    <link rel="stylesheet" type="text/css" href="https://tanbif.ditnet.ac.tz/css/base/shared/style/index.css?v=1585166682129">


<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400i" rel="stylesheet">

<!--[if !IE]> -->
<!-- <![endif]-->

<!--[if IE]>

<![endif]-->

<!--[if lt IE 9]>

<![endif]-->
<!-- start Trans -->
<script src="https://tanbif.ditnet.ac.tz/js/jquery.min.js"></script>
<script src="https://tanbif.ditnet.ac.tz/js/vendor.js?DIGEST"></script>
<script src="https://tanbif.ditnet.ac.tz/js/app.js?DIGEST"></script>
<script>require('js/init');</script>
<!-- End trans -->

<script>
    function attachGoogleAnalytics() {
        console.log('Terms accepted. Attach Google analytics');
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42057855-4', {'siteSpeedSampleRate': 10});
        ga('send', 'pageview');
        window.gbifHasSentGoogleAnalyticsForThisUrl = window.location.href;
    }
</script>

<noscript>
    <style>
        body {display: block !important}
        .no-js-enabled {display: block !important}
        .no-js-enabled {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(120,181,120,0.99);color:#fff;z-index:9999;text-align:center}
        .no-js-enabled span{position:relative;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);}
    </style>
</noscript>




<script type="application/ld+json">
      {
      "@context": "http://schema.org/",
      "@type": "Organization",
      "url": "http://www.gbif.org/",
      "logo": "https://www.gbif.org/img/logo/TANBIF50.png"
      }
</script>


    
    
</head>
<body class="
     
    hasTransparentMenu
" 
    ng-init="portal.urlPrefix='';BUILD_VERSION=1585166682129"
    ng-class="{'hasDrawer': portal.getDrawer()}"
    ng-controller="portalCtrl as portal">

<div class="no-js-enabled" style="display: none"><span>We’re sorry, but TANBIF doesn’t work properly without JavaScript enabled.</span></div>
<div class="ie-splash" style="display:none"><span>Our website has detected that you are using an outdated insecure browser that will prevent you from using the site. We suggest you upgrade to a modern browser.</span></div>


    <div class="stickyNav rtl-supported"
     ng-class="{'mobileMenu--active': nav.mobileMenuActive, 'mainMenu--firstLevelActive': nav.activeMenu, hasOffset: nav.scrollOffset > 0}"
     ng-controller="navCtrl as nav">
    <div class="stickyNav__container">
        <a href="https://tanbif.ditnet.ac.tz" id="block-logo" class="gbif-logo">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="1280.000000pt" height="1238.000000pt" viewBox="0 0 1280.000000 1238.000000"
             preserveAspectRatio="xMidYMid meet">
            <metadata>
            Created by GOSSystem , written by Gisacc 2020
            </metadata>
            <g transform="translate(0.000000,1238.000000) scale(0.100000,-0.100000)"
            fill="#ffffff" stroke="none">
            <path d="M5505 12355 c-39 -38 -34 -111 21 -322 51 -199 54 -233 36 -418 -15
            -159 -17 -1077 -2 -1257 40 -480 231 -892 612 -1319 l68 -77 4 -178 c3 -172
            11 -228 51 -355 4 -12 -5 -21 -34 -32 -74 -30 -168 -134 -143 -159 16 -16 77
            -11 151 12 36 11 66 18 68 16 7 -7 43 -197 49 -257 l7 -66 -98 -134 c-405
            -554 -1057 -1267 -2086 -2281 -277 -274 -522 -510 -543 -525 -39 -28 -103 -89
            -181 -173 -22 -24 -235 -219 -473 -433 -248 -223 -440 -404 -450 -423 -17 -33
            -113 -124 -602 -569 -587 -535 -1643 -1475 -1830 -1629 -52 -43 -103 -87 -112
            -98 -17 -19 -18 -74 -18 -851 l0 -830 1568 7 1567 7 25 28 c14 15 295 324 625
            687 1135 1245 1957 2165 2554 2856 123 142 151 170 188 182 76 26 176 100 315
            235 l57 54 79 -75 c189 -181 426 -342 612 -417 117 -47 527 -185 686 -231 l71
            -20 6 -67 c11 -112 54 -312 98 -449 169 -529 498 -837 982 -919 168 -28 480
            -19 673 20 85 17 222 59 267 82 25 12 43 11 155 -8 170 -28 433 -24 556 10
            227 63 376 179 475 371 129 248 132 547 9 900 -22 63 -55 158 -73 210 -18 52
            -50 155 -71 227 l-37 133 19 77 c25 106 26 306 0 422 -20 92 -112 429 -151
            551 -13 41 -60 140 -105 220 -108 195 -333 646 -398 798 -65 153 -140 372
            -148 433 -6 47 7 86 46 136 l18 23 40 -62 c27 -41 43 -57 46 -48 3 8 17 82 31
            164 14 83 27 151 28 152 1 1 22 12 47 24 25 13 73 52 107 88 34 36 64 64 66
            61 2 -2 32 -45 65 -96 71 -106 135 -177 154 -171 14 5 14 20 3 324 -7 161 -6
            184 10 214 10 19 20 61 23 95 l5 60 49 24 c61 29 157 121 187 178 29 59 28
            122 -4 157 -13 14 -29 45 -36 69 -6 23 -35 92 -64 153 l-52 111 62 36 c158 91
            375 285 535 477 177 213 277 359 539 780 84 135 178 276 209 314 71 87 81 104
            82 139 1 68 -99 125 -270 153 -336 55 -1099 1 -1415 -101 -189 -61 -386 -181
            -476 -290 l-37 -44 -6 37 c-3 20 -6 142 -6 270 0 275 -11 415 -50 648 -76 450
            -61 663 71 991 77 191 72 270 -22 307 -22 9 -57 16 -78 16 -34 0 -42 5 -61 35
            -55 89 -147 117 -232 72 -45 -25 -47 -25 -63 -7 -46 51 -121 46 -169 -11 -59
            -70 -246 -617 -314 -917 l-27 -121 -175 -135 c-96 -75 -180 -136 -188 -136 -7
            0 -36 12 -65 26 -233 118 -407 309 -550 604 l-60 125 -5 240 c-2 137 0 286 7
            347 14 137 48 303 72 350 28 54 25 102 -7 127 -49 39 -199 25 -251 -22 l-23
            -20 -58 36 c-117 72 -156 70 -217 -14 -20 -27 -40 -49 -45 -49 -5 0 -15 -3
            -24 -6 -10 -4 -35 13 -70 46 -61 57 -80 59 -90 10 -12 -64 -6 -247 14 -365 23
            -143 25 -288 5 -383 -37 -177 -130 -413 -289 -729 -177 -355 -223 -492 -233
            -688 -7 -137 -29 -191 -117 -280 -61 -62 -206 -165 -233 -165 -8 0 -26 25 -40
            56 -37 80 -41 190 -15 369 38 259 47 393 33 512 -23 201 -92 362 -221 515 -39
            46 -139 169 -224 273 -425 526 -758 865 -931 947 -74 35 -108 36 -140 3z"/>
            </g>
            </svg>
        </a>

        <div class="stickyNav__actions">
            <a href="" class="stickyNav__actions__action gb-icon-heartbeat stickyNav__actions__action--notification ng-cloak" ng-click="nav.toggleNotifications()" ng-if="nav.notifications.count > 0" ng-class="{'is-info': nav.notifications.severity == 'INFO'}"></a>
            <a href="" class="stickyNav__actions__action gb-icon-heartbeat" ng-href="{{ portal.urlPrefix }}/health" ng-if="!nav.notifications || nav.notifications.count == 0"></a>
            
                <a href="" class="stickyNav__actions__action gb-icon-translate" ng-click="nav.toggleLanguage()"></a>
            
            <a href="" class="stickyNav__actions__action gb-icon-search2" ng-click="nav.toggleSearch()"></a>
            <a href="" class="stickyNav__actions__action gb-icon-bubble" ng-click="nav.toggleFeedback()" ng-class="{'stickyNav__actions__action--notification': nav.commentCount}"></a>
            <a href="" class="stickyNav__actions__menu gb-icon-menu" ng-click="nav.toggleMobileMenu()" ng-class="{'gb-icon-close_L': nav.mobileMenuActive, 'gb-icon-menu': !nav.mobileMenuActive}"></a>
            <a class="stickyNav__actions__login" href="" ng-click="nav.toggleUserMenu()">
                <span class="service-menu__button hoverBox">
                    <div class="inline-block">
                        <span class="ng-cloak" data-i18n="nav.login"></span>
                    </div>
                </span>
            </a>
        </div>
        <div class="mainNavigation" ng-class="{'isActive': nav.mobileMenuActive}">
            <nav class="mainMenu" click-outside="nav.toggleMenu()">
                <ul>
                    
                        
                            <li class="mainMenu--hasChild mainMenu__firstLevel mainMenu--hasGrandChild >"
                                ng-class="{'mainMenu--childActive': nav.activeMenu == 'Get data'}"
                                >
                                <a class=" mainMenu__parentItem" href=""
                                   ng-click="nav.toggleMenu('Get data')" dir="auto">Our Services</a>
                                   
                                <!-- <a class=" mainMenu__parentItem" href=""
                                   ng-click="nav.toggleMenu('How-to')" dir="auto">How-to</a> -->
                                <ul class="mainMenu__childGroup">
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Species</h2>
                                                <ul class="mainMenu__childItem">
                                                    <li >
                                                        <a data-i18n="nav.species" class="mdl-navigation__link" href="https://species.tanbif.ditnet.ac.tz">Species</a>
                                                    </li>
                                                   <li>
                                                       <a data-i18n="nav.species-lists" class="mdl-navigation__link" href="https://lists.tanbif.ditnet.ac.tz">Species Lists</a>
                                                   </li>
                                                   <li>
                                                       <a data-i18n="nav.spatial" class="mdl-navigation__link" href="https://spatial.tanbif.ditnet.ac.tz">Spatial Portal</a>
                                                   </li>
                                                </ul>
                                            </nav>
                                        </li>
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Collections</h2>
                                                <ul class="mainMenu__childItem">
                                                    <li >
                                                        <a data-i18n="nav.collectory" class="mdl-navigation__link" href="https://collections.tanbif.ditnet.ac.tz">Collections</a>
                                                    </li>
                                                    <li >
                                                        <a data-i18n="nav.datasets" class="mdl-navigation__link" href="https://collections.tanbif.ditnet.ac.tz/datasets">Datasets</a>
                                                    </li>
                                                    <li >
                                                        <a data-i18n="nav.regions" class="mdl-navigation__link" href="https://regions.tanbif.ditnet.ac.tz">Regions</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </li>
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Other </h2>
                                                <ul class="mainMenu__childItem">
                                                    <li>
                                                        <a data-i18n="nav.biocache" class="mdl-navigation__link" href="https://tanbif.ditnet.ac.tz">Occurrences</a>
                                                    </li>
                                                    <li >
                                                        <a data-i18n="nav.images" class="mdl-navigation__link" href="https://images.tanbif.ditnet.ac.tz">Images</a>
                                                    </li>
                                                    <li >
                                                        <a  class="mdl-navigation__link" href="#">IPT</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </li>
                                </ul>
                            </li>
                        
                        
                    
                        
                        
                            <li class="mainMenu--hasChild mainMenu__firstLevel mainMenu--hasGrandChild >"
                                ng-class="{'mainMenu--childActive': nav.activeMenu == 'How-to'}"
                                >
                                <a class=" mainMenu__parentItem" href=""
                                   ng-click="nav.toggleMenu('How-to')" dir="auto">How-to</a>
                                <ul class="mainMenu__childGroup">
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Share data</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/publishing-data" dir="auto">Quick-start guide
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/dataset-classes" dir="auto">Dataset classes
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/article/4qfLORxmM8kYOIwSYSMc2M/data-hosting" dir="auto">Data hosting
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/standards" dir="auto">Standards
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/become-a-publisher" dir="auto">Become a publisher
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/data-quality-requirements" dir="auto">Data quality
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/data-papers" dir="auto">Data papers
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Use data</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/resources/search?contentType=dataUse" dir="auto">Featured data use
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/citation-guidelines" dir="auto">Citation guidelines
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                </ul>
                            </li>
                        
                    
                        
                        
                            <li class="mainMenu--hasChild mainMenu__firstLevel mainMenu--hasGrandChild >"
                                ng-class="{'mainMenu--childActive': nav.activeMenu == 'Tools'}"
                                >
                                <a class=" mainMenu__parentItem" href=""
                                   ng-click="nav.toggleMenu('Tools')" dir="auto">Tools</a>
                                <ul class="mainMenu__childGroup">
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Publishers</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/ipt" dir="auto">IPT
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/tools/data-validator" dir="auto">Data validator
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/suggest-dataset" dir="auto">Suggest a dataset
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Users</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/developer/summary" dir="auto">TANBIF API
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/data-processing" dir="auto">Data processing
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/tool/81747" dir="auto">rgbif
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/tool/81279" dir="auto">MAXENT
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/resource/search?contentType=tool" dir="auto">Tools catalogue
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">TANBIF labs</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="#" dir="auto">Species matching
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="#" dir="auto">Name parser
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="#" dir="auto">Sequence ID
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="#" dir="auto">Relative observation trends
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="#" dir="auto">TANBIF data blog
                                                                
                                                                    <span class="gb-icon-link"></span>
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                </ul>
                            </li>
                        
                    
                        
                        
                            <li class="mainMenu--hasChild mainMenu__firstLevel mainMenu--hasGrandChild >"
                                ng-class="{'mainMenu--childActive': nav.activeMenu == 'Community'}"
                                >
                                <a class=" mainMenu__parentItem" href=""
                                   ng-click="nav.toggleMenu('Community')" dir="auto">Community</a>
                                <ul class="mainMenu__childGroup">
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Network</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/the-gbif-network" dir="auto">Participants
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/article/T5SQrMJAU1OdFtHTNOWgN/" dir="auto">Nodes
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/publisher/search" dir="auto">Publishers
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/contact-us/directory?group=nsg" dir="auto">Network contacts
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="https://discourse.gbif.org/" dir="auto">Community forum
                                                                
                                                                    <span class="gb-icon-link"></span>
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="https://www.allianceforbio.org" dir="auto">alliance for biodiversity knowledge
                                                                
                                                                    <span class="gb-icon-link"></span>
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Volunteers</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/article/5SExsCfj7UaUkMCsuc6Oec" dir="auto">Mentors
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/article/6dNF1d0tgcI4cmqeoS2sQ4" dir="auto">Ambassadors
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/translators" dir="auto">Translators
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/citizen-science" dir="auto">Citizen scientists
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Activities</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/article/7sL3m3zzN5MUuaOuEhtLuZ/" dir="auto">Capacity enhancement
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/article/2IE7tH4dlcik1BnmniIPAc/" dir="auto">Training and e-Learning
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/resource/search?contentType=programme" dir="auto">Programmes &amp; projects
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="http://living-atlases.gbif.org/" dir="auto">Living Atlases
                                                                
                                                                    <span class="gb-icon-link"></span>
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                </ul>
                            </li>
                        
                    
                        
                        
                            <li class="mainMenu--hasChild mainMenu__firstLevel mainMenu--hasGrandChild >"
                                ng-class="{'mainMenu--childActive': nav.activeMenu == 'About'}"
                                >
                                <a class=" mainMenu__parentItem" href=""
                                   ng-click="nav.toggleMenu('About')" dir="auto">About</a>
                                <ul class="mainMenu__childGroup">
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">Inside TANBIF</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/what-is-gbif" dir="auto">What is TANBIF?
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/become-member" dir="auto">Become a member
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/governance" dir="auto">Governance
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/funders" dir="auto">Funders
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/partners" dir="auto">Partnerships
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/strategic-plan" dir="auto">Implementation plan
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/contact-us" dir="auto">Contacts
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                        <li class="mainMenu__columns" >
                                            <nav><h2 dir="auto">News &amp; outreach</h2>
                                                <ul class="mainMenu__childItem">
                                                    
                                                        <li >
                                                            <a href="/resource/search?contentType=news" dir="auto">News
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/newsletters" dir="auto">Newsletters and lists
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/resource/search?contentType=event" dir="auto">Events
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/article/1G82GL7jw08kS0g6k6MuSa" dir="auto">Ebbe Nielsen Challenge
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/article/44SftFORi0A6mwGK4sgAKW/" dir="auto">Young Researchers Award
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="/science-review" dir="auto">Science Review
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                        <li >
                                                            <a href="https://discourse.gbif.org/" dir="auto">Community forum
                                                                
                                                                    <span class="gb-icon-link"></span>
                                                                
                                                            </a>
                                                        </li>
                                                    
                                                </ul>
                                            </nav>
                                        </li>
                                    
                                </ul>
                            </li>
                        
                    
                    <li class="mainMenu__firstLevel hide-on-laptop">
                        <a class="mainMenu__parentItem" dir="auto" href="/user/profile"><span translate="profile.userProfile">User profile</span> <span ng-bind="nav.loginGreeting" class="mainMenu__greenText m-l-1"></span></a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>



<div id="site-wrapper" class="site-wrapper">
    
        
    <div feedback></div>

        
    <div notifications></div>

        
  <div user-menu></div>

        
  <div menu-search></div>

        <div language-menu></div>
  
    
    
